<h1>Editing Article</h1>

<%= render 'form' %>
<%= link_to 'Cancel Account', user_path, method: :delete, class: 'btn btn-warning btn-lg', data:{ confirm: 'Are you sure you want to delete ?'} %>

<%= link_to 'Back', articles_path %>
